body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    }

.heading
{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    text-align: center;
    border-radius:10px; 
    padding: 15px;
    margin: 10px;
}
h1{
    color: aliceblue;
}
.rail-employee{
margin: 0px;
padding: 7px;
height: 100%;
width: 40%;
display: inline-block;
    margin-right: 30px;
    transform: translate(-40px)
}
.local{
    
    width: 100%;
    opacity: 1;
    transition: 0.3s;
    height: 78vh;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 30px;
    }


.btnoverimg{
    position: relative;
    width: 100%;
}
.rail-login{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
    cursor: pointer;
    border-radius:30px; 
    opacity: 0;
    transition: 0.3s;
    width: 150px;
}
.rail-login:hover{
 background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
color: azure;
}
.btnoverimg:hover .local{
    opacity: 0.6;
    box-shadow:5px 5px 5px grey;
    
}
.btnoverimg:hover .rail-login{
    opacity: 1;
    
}
.main{
    
    text-align: center;
}
.student{
    display: inline-block;
    width: 40%;
    height: 100%;
    margin-left: 40px;
padding: 0px;
}
.student-login{
    position: absolute;
    right:50%;
    top: 10%;
    transform: translate(50%,-50%);
    padding: 20px;  
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
    cursor: pointer;
    border-radius:30px; 
    opacity: 0;
    transition: 0.3s;
    width:150px;
}
.student-logo{
    height: 78vh;
    width: 100%;
    opacity: 1;
    transition: 0.3s;
    border-radius: 10px;
    
    }
    .student-login:hover{
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        color: azure;
        }
        .btnoverimg:hover .student-logo{
            opacity: 0.6;
             box-shadow:5px 5px 5px grey; 
        }
        .btnoverimg:hover .student-login{
            opacity: 1;
        }